<html ng-app="TestApp">
	<head>
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" ></link>
	</head>
	<body ng-controller="PagingController">
		<span>Current page<input type="number" ng-model="currentPage" min="0" /></span>
		<span>Total pages<input type="number" ng-model="totalPages" min="1" /></span>
		<span>Max pages<input type="number" ng-model="maxPagesToDisplay" min="2" /></span>
		<div pager current-page="currentPage" total-pages="totalPages" max-pages-to-display="{{maxPagesToDisplay}}" page-changed="paged(pageNum)"></div>
		<span>Displaying {{maxPagesToDisplay}} with page {{currentPage}} of {{totalPages}}</span>

		<script src="bower_components/angularjs/angular.js"></script>
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="ngpager.min.js"></script>
		<!--<script src="pager.js"></script>
		<script src="templates.js"></script>-->
		<script>
			angular.module('TestApp', ['Pager'])
			.controller('PagingController', function($scope) {
				$scope.paged = function(newPage) {console.log(newPage); $scope.currentPage = newPage;};
				$scope.currentPage = 0;
				$scope.totalPages = 10;
				$scope.maxPagesToDisplay = 5;
			});
		</script>
	</body>
</html>
